body,p,dl,dd,ul,ol,li,div,h1,h2,h3,h4,h5,h6,form,input,table,tr,td{
    margin:0;
    padding:0;
}
body{
    font-family: "微软雅黑",Arial;
    background: #f5f5f5;
}
input {
    outline: none;
}
ul{
    list-style:none;
}
img{
    vertical-align: middle;
}
a{
    text-decoration: none;
}
.clearFix::after{
    content:"";
    height:0;
    clear: both;
    display:block;
    visibility: hidden;
    overflow: hidden;
}
.clearFix {
    *zoom:1;
}


/*header*/  /*暂时隐藏-标记点*/
    header{
        overflow: hidden;
    }
/*header_top*/
.header_top{
    width: 100%;
    height:40px;
    background-color: #f8f8f8;
    position: relative;
}
.hint{
    width: 1200px;
    font-size: 12px;
    height:40px;
    line-height: 40px;
    border-bottom: 1px solid #eee;
    margin:0 auto;
}
.hint_left{
    float:left;
    color:#b4b4b4;
}
.hint_left p{
    float: left;
}
.hint_left a{
    color:#e93b78;
}
.hint_left a:nth-child(2){
    padding:0 40px;
}
.hint a:hover{
    color:#e93b78;
    text-decoration:underline;
}

.hint_right{
    float:right;
}
.hint_right ul li{
    display: inline-block;
    width: 80px;
    height: 40px;
    box-sizing: border-box;
}
.hint_right ul li:last-child{
    width: 180px;
}
.hint_right ul li a{
    color: #b4b4b4;
    position: relative;
}
.hint_top_ul{

}
.hint_right .hint_top_ul .lis_two{
    margin-left:12px;
}
.hint_right ul .uls_fw a:hover{
    color: #b4b4b4;
    text-decoration: none;
}

.hint_right ul li a i{
    display: inline-block;
    width: 12px;
    height: 12px;
}
.hint_right ul li a b{
    width: 12px;
    height: 12px;
}
.hint_right ul li:nth-child(1) a i{
    background: url(../img/icon_1.png) no-repeat;
}
.hint_right ul li:nth-child(1) a b{
    background: url(../img/hi_bg_2.jpg) no-repeat;
    position: absolute;
    top:6px;
    left:70px;
}
.lis_one:hover .hint_1 b{
    transform: rotateZ(-180deg);
    position: absolute;
    top:-2px;
    left: 65px;
    transition: .3s all;
}

.lis_one:hover{
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    background: #fff;
}
.hint_right ul li:nth-child(2) a i{
    background: url(../img/icon_1.png) no-repeat;
    background-position: 0px -40px;
}
.hint_right ul li:nth-child(3) a i{
    background: url(../img/icon_1.png) no-repeat;
    background-position: 0px -81px;
}
.hint_right ul li:nth-child(4) a i{
    background: url(../img/icon_1.png) no-repeat;
    background-position: 0px -118px;
}
.hint_right ul li:nth-child(5) a i{
    background: url(../img/icon_1.png) no-repeat;
    background-position: 0px -160px;
}
.hint_right ul li:nth-child(6) a i{
    background: url(../img/icon_1.png) no-repeat;
    background-position: 0px -200px;
}

.hint_right .hint_one{
    position: absolute;
    left: -10px;
    top:40px;
    width: 100px;
    background: #fff;
    border: 1px solid #eee;
    padding-bottom: 10px;
    /*display: none;*/
}
.hint_right .hint_one li{
    display: block;
    margin-left:14px;
    height: 28px;
}
.lis_one{
    position: relative;
}
.hint_one{
    position: absolute;
    top: -2px;
    z-index: 1;
    display: none;
}
.lis_one:hover .hint_one{
    display: block;
}

.lis_two{
    position: relative;
}
.lis_two img{
    position: absolute;
    top: 35px;
    left: -30px;
    display: none;
    z-index: 1;
    background: #fff;
}
.lis_two:hover img{
    display: block;
}
.none{
    width: 100%;
    height: 481px;
    left: 0;
    background-color: #f9e5f0;
    position: absolute;
    z-index: 100;
    display: none;
}
.nav_li:hover .none{
    display: block;
}
.none_center{
    width: 1200px;
    height: 434px;
    margin: 0 auto;
    display: flex;
    padding-top: 47px;
}
.none_box{
    width: 100px;
    height: 481px;
    margin-left: 40px;
}
.none_box{
    width: 201px;
}
.none_box li h3{
    font-size: 16px;
    color:#e93b78;
}
.none_box_words{
    display: flex;
}
.none_box .none_box_words li a{
    font-size:12px;
    color:#7c7171;
}
.none_box_words li{
    padding-right: -12px;
}

.header_but{
    width: 100%;
    height:148px;
    background: #fff;
    float: left;
    z-index: 0;
}
.hea{
    width:1200px;
    margin:0 auto;
    padding-top: 20px;
}
.header_but_top{
    height:100px;
}
.header_but_top a{
    float: left;
}
.header_but_top input{
    float: left;
}
.header_but input:first-child{
    background: url(../img/hi_bg_4.jpg) no-repeat;
    background-position: 10px 9px;
    text-indent:40px;
    border: 3px solid #e93b78;
    border-top-left-radius:4px;
    border-bottom-left-radius:4px;
    width: 370px;
    height:34px;
    font-size: 12px;
    color: #757575;
    margin-left: 144px;
}
.header_but input:last-child{
    border: 3px solid #e93b78;
    width: 80px;
    height:40px;
    background: #e93b78;
    font-size: 16px;
    color: #ffffff;
    border-top-right-radius:4px;
    border-bottom-right-radius:4px;
}
.form_center{
    position: relative;
}
.form_center ul{
    position: absolute;
    top:48px;
    left:455px;
}
.form_center ul li{
    display: inline-block;
}
.form_center ul a{
    font-size: 12px;
    color: #b4b4b4;
    padding-right: 15px;
}
.form_center ul li a:hover{
    text-decoration: underline;
    transition:all .2s;
}
.shopping_car{
    position: relative;
}
.shopping_car a{
    display: block;
    width: 156px;
    height: 44px;
    border: 1px solid #f0f0f4;
    color:#666666;
    font-size: 16px;
    text-align: center;
    line-height: 44px;
    background: url(../img/common-icon.png) no-repeat;
    background-position: -350px -80px;
    text-indent: 30px;
    margin-left: 100px;
    position: relative;
}
.shopping_car:hover .shopping_car_a{
    text-decoration: none;
    color: #fa3778;
    transition: all .2s;
}
.shopping_nums{
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    border-bottom-left-radius: 0px;
    background: #ff503c;
    position: absolute;
    top: -8px;
    right: 34px;
    color: #ffffff;
}


.header_but_bottom{
    width: 1220px;
    height: 40px;
    z-index: 200;
    margin-top: -11px;
}

.header_but_bottom ul li{
    text-align: center;
    color:#fff;
    width: 100px;
    height: 40px;
    line-height: 40px;
    float: left;
}
.header_but_bottom ul li a{
    color: #000;
    margin-right: 10px;
}
.uls_wys::after{
    content: "/";
    color: #eeeeee;
    font-size: 14px;
}
.header_uls .ul_class{
    color: #fff;
    width: 224px;
    height: 459px;
    background: #fa3778;
    z-index: 2;
}
.ul_class p{
    position: relative;
    background: #000;
}
.ul_class ul{
    width: 224px;
    position: relative;
}
.ul_class ul li{
    width: 224px;
    height: 52px;
    line-height: 52px;
    text-align: left;
    text-indent: 20px;
}
.ul_class ul li a{
    color:#fff;
}
.ul_class p::after{
    position: absolute;
    top: 20px;
    right: 12px;
    display: inline-block;
    content: "";
    width: 8px;
    height: 4px;
    background: url("../img/icon_1.png") no-repeat;
    background-position: 0 -1260px;
}
.ul_class ul li span{
    display: inline-block;
    background-position: 0 -1479px;
    width: 8px;
    height: 14px;
    position: absolute;
    right: 12px;
    margin-top: 20px;
}




.uls_fy a:hover{
    color:#fa3778;
    transition: all .2s;
}
.li_hover{
    position: relative;
}
.face_box_hover{
    width: 530px;
    height: 419px;
    background: #fff;
    position: absolute;
    top: -1px;
    left:224px;
    padding-left: 20px;
    border-top: 1px solid #fa3778;
    display: none;
    text-indent: 0px;
}
.face_box_hover .face_title_fy{
    display: inline-block;
    height: 50px;
    border-bottom:1px solid #4c3f3f	;
}
.face_box_hover .face_title_fy a{
    color: #fa3778;
}
.face_box_hover ul{
    width: 500px;
}
.face_box_hover .face_box_two a{
    color: #333333;
    font-size: 12px;
    padding-bottom: 2px;
}
.face_box_hover .face_box_two li{
    width: 80px;
    height: 40px;
    text-align: center;
}
.face_title_fy{
    margin-bottom: -5px;
}
.face_title_fy::before{
    content: "";
    display:inline-block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #ffc232;
    margin-bottom: 2px;
}
.li_hover:hover .face_box_hover{
    display: block;
}
.li_hover_two:hover .cosmetics_box_hover{
    display: block;
}


/*划过商品分类的效果*/

.ul_class ul li:hover{
    background: #fff;
}

.li_hover:hover .li_hover_a{
    color: #fa3778;
}
.li_hover:hover .li_hover_span{
    background-position: 0 -1539px;
}
.li_hover{
    position: relative;
}
.cosmetics_box_hover{
    position: absolute;
    top: -53px;
    left: 224px;
}


/*menu*/

.menu{
    width: 100%;
    background: #f5f5f5;
    border-top: 1px solid #e93b78;

}
.menu_box{
    width: 1200px;
    margin: 0 auto;
}
.menu_uls{
    height: 60px;
    line-height: 60px;
}
.menu_uls li{
    position: relative;
    float: left;
    font-size: 14px;
    color: #bbbbbb;
    padding-right: 16px;
}
.menu_uls a{
    color: #666666;
}
.lis_after::after {
    position: absolute;
    top: 2px;
    left: 34px;
    content: url("../img/jiantou.gif");
    width: 0px;
    height: 14px;
}
.lis_after_fy::after{
    position: absolute;
    top: 2px;
    left: 48px;
}
.lis_after a:hover{
    color: #e93b78;
    transition:color .2s;
}

/*details*/

.details{
    width: 100%;
}

.details_top{
    margin: 0 auto;
    width: 1200px;
    height: 598px;
    background: #fff;
    display: flex;
}
.glass{
    width: 500px;
    height: 600px;
    padding-top: 20px;
    padding-left: 25px;
}
.glass_img{
    width: 450px;
    height: 450px;
    position: relative;
    background: url("../img/glass_1.jpg") no-repeat;
    background-size:450px 450px;
}
.mirrorBox{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 200px;
    height: 200px;
    background:#b2b4df;
    opacity: .3;
    border: 1px solid #fff;
    display: none;
}
.showBox{
    border: 2px solid #333333;
    width:400px;
    height: 400px;
    position: absolute;
    top:0px;
    left: 465px;
    background: url("../img/glass_1.jpg") no-repeat;
    background-size:900px 900px;
    border:1px solid #999999;
    display: none;
    z-index: 2;
}

.glass_banner{
    width: 460px;
    margin-top: 15px;
    position: relative;
    overflow: hidden;
}
.glass_banner::before{
    position: absolute;
    top: 20px;
    left: 2px;
    content:"";
    display: inline-block;
    width: 16px;
    height: 30px;
    background: url("../img/footprint-arr.png") no-repeat;
    background-position:0px 0px;
    cursor:pointer;
}
.glass_banner::after{
    position: absolute;
    top: 20px;
    left: 438px;
    content:"";
    display: inline-block;
    width: 16px;
    height: 30px;
    background: url("../img/footprint-arr.png") no-repeat;
    background-position:-15px 0px;
    cursor:pointer;
}
.glass_uls{
    padding-left: 34px;
}

.glass_uls li{
    float: left;
    width: 50px;
    height: 58px;
    line-height: 58px;
    border: 1px solid #ddd;
    margin-right: 8px;
    padding-left: 8px;
    cursor: pointer;
}
.glass_uls li:nth-child(1){
    background: url("../img/glass_banner_1.jpg") no-repeat 9px 9px;
    background-size: 40px 40px;
}
.glass_uls li:nth-child(2){
    background: url("../img/glass_banner_2.jpg") no-repeat 9px 9px;
    background-size: 40px 40px;
}
.glass_uls li:nth-child(3){
    background: url("../img/glass_banner_3.jpg") no-repeat 9px 9px;
    background-size: 40px 40px;
}
.glass_uls li:nth-child(4){
    background: url("../img/glass_banner_4.jpg") no-repeat 9px 9px;
    background-size: 40px 40px;
}
.glass_uls img{
    width: 40px;
    height: 40px;
}
.share_shopping{
    float: left;
    padding-top: 20px;
    font-size: 12px;
    color: #333333;
}
.bdsharebuttonbox{
    float: left;
    width: 400px;
    height: 16px;
    padding-top: 15px;
}



.shopping_num{
    width: 700px;
    float: right;

}
.shopping_name{
    padding-top: 20px;
    margin-bottom: 33px;
}
.shopping_name h1{
    color: #333;
    font-size: 24px;
    padding-bottom: 12px;
}
.shopping_name p{
    color: #999999;
    font-size: 12px;
}
.shopping_money{
    width: 656px;
    height: 54px;
    background: #fedae6;
    padding:30px 30px 30px 0px;
}
.money_left{
    width: 160px;
    color: #999999;
    float: left;
    padding-left: 30px;
}
.money_left p{
    display: inline-block;
    margin-bottom: 13px;
}
.money_left span:nth-child(2){
    color: #fa3778;
    font-size: 30px;
}
.money_left span:nth-child(4){
    font-size: 12px;
    text-decoration: line-through;
}
.money_right{
    float: right;
    text-align: center;
}
.money_right a{
    font-size: 12px;
    color: #666666;
}
.money_right_a1{
    position: relative;
    display: block;
    margin-bottom: 10px;
}
.money_right a:nth-child(1){
    color: #333333;
    padding-right: 12px;
}
.money_right_a1::after{
    content: "";
    display:inline-block;
    width: 12px;
    height: 12px;
    background: url("../img/common-icon.png") no-repeat -40px -56px;
}
.money_right_a2::after{
    content: "";
    display:inline-block;
    width: 12px;
    height: 12px;
    background: url("../img/money_right_1.jpg") no-repeat 7px 0px;
}
.money_uls{
    width:224px;
    height: 80px;
    color: #333333;
    font-size: 12px;
    border: 1px solid #e7e7e7;
    position: absolute;
    top: 20px;
    left: -107px;
    background: #f8f8f8;
    padding-left: 30px;
    padding-top: 8px;
    cursor:auto;
    display: none;
}
.money_uls li{
    height: 20px;
    width: 200px;
    text-align: left;
}
.money_uls li:nth-child(1){
    font-size: 14px;
    border-bottom: 1px solid #e7e7e7;
    padding-bottom: 6px;
    margin-bottom: 6px;
}
.money_lis_fy{
    display: flex;
    justify-content: space-between;
}
.money_right_a1:hover .money_uls{
    display: block;
}
.shopping_buy{
    width: 640px;
    height: 80px;
    float: left;
    padding-top: 20px;
}
.shopping_buy_top{
    width: 640px;
    height: 80px;
    color: #666666;
    float: left;
    margin-bottom: 40px;
}
.shopping_buy_top li{
    padding-bottom:20px;
}
.shopping_buy_top li a{
    color: #666666;
}
.shopping_buy_top li:nth-child(1){
    color: #999999;
}
.shopping_buy_top li span{
    color: #e93b78;
}
.shopping_buy_top li:nth-child(3) a{
    display: inline-block;
    width: 80px;
    height: 22px;
    color: #fff;
    font-size: 14px;
    background: #ff6590;
    line-height: 22px;
    text-align: center;
    position: relative;
    margin-left: 12px;
}
.shopping_buy_top li:nth-child(3) a:before{
    position: absolute;
    left: -5px;
    top: 6px;
    content: "";
    display: inline-block;
    width:10px;
    height: 10px;
    border-radius: 50%;
    background: #fff;
}
.shopping_buy_top li:nth-child(3) a:after{
    position: absolute;
    left: 75px;
    top: 6px;
    content: "";
    display: inline-block;
    width:10px;
    height: 10px;
    border-radius: 50%;
    background: #fff;
}
.shopping_buy_colors{
    height: 60px;
    width: 600px;
    float: left;
    display: flex;
}
.shopping_buy_colors li{
    width: 79px;
    height: 40px;
    border: 1px solid #dcdcdc;
    border-radius:3px;
    line-height: 40px;
    text-align:center;
    margin-right: 8px;
    cursor:pointer;
    font-size: 12px;
}
.shopping_buy_colors li:nth-child(1){
    width: 50px;
    color: #999999;
    border: none;
    text-align:left;
    cursor: auto;
    margin-left: 0px;
}
.shopping_buy_colors li:nth-child(2){
    text-indent: 20px;
    border: 1px solid #ff7700;
    background: url("../img/shopping_big_black.jpg") no-repeat;
    background-size:40px 40px;
}
.shopping_buy_colors li:nth-child(3){
    background: url("../img/shopping_big_brown.jpg") no-repeat;
    background-size:40px 40px;
    text-indent: 20px;
}

.shopping_buy_number{
    height: 42px;
    width: 300px;
    display: flex;
    color: #666666;
}
.shopping_buy_number li{
    height: 38px;
    line-height: 38px;
    padding-right: 5px;
}
.shopping_buy_number li input{
    width: 53px;
    height: 40px;
    border: 1px solid #dcdcdc;
    border-radius:4px;
    text-align: center;
}
.buy_plus{
    display: flex;
    flex-direction: column;
}
.buy_plus button{
    background: #fff;
    outline:none;
    border: 1px solid #dcdcdc;
    border-radius:2px;
    margin-bottom: 2px;
}
.buy_addCar {
    height: 42px;
    width: 500px;
    display: flex;
    margin-top: 40px;
}
.buy_addCar li{
    width: 106px;
    height: 40px;
    background: red;
    text-align:center;
    line-height: 40px;
    border-radius:4px;
    margin-left: 16px;
    color: #fff;
    cursor:pointer;
}
.buy_addCar li:nth-child(1){
    background: #ff7700;
}
.buy_addCar li:nth-child(2){
    background: #e93b78;
}
.buy_addCar li:nth-child(3){
    border: 1px solid #eee;
    background: #f4f4f4;
    color: #666666;
    font-size: 15px;
}
.buy_addCar li:nth-child(4){
    border: 1px solid #eee;
    background: #fff;
    color: #666666;
    font-size: 14px;
}
.buy_addCar .shopping_collect:hover{
    color: #e93b78;
    background: #eee;
}
.shopping_wx{
    position: relative;
}
.shopping_wx ul{
    width:106px;
    height: 105px;
    background: pink;
    position: absolute;
    top: -120px;
    left: 0px;
    background: #fff;
    padding-top: 3px;
    border: 1px solid #eee;
    box-shadow: 0 0 6px #e7e7e7;
    display: none;
}
.buy_addCar .shopping_wx img{
    max-width: 100px;
    max-height: 100px;
}
.shopping_wx:hover ul{
    display: block;
}


/*show*/

.show{
    width:100%;
    margin-top: 20px;
}
.shopping_show{
    width: 1200px;
    margin: 0 auto;
}
.show_box{
    width: 1200px;
}

.show_left{
    width: 970px;
    background: #fff;
    float: left;
    margin-bottom: 20px;
}
.show_left_uls{
    width: 970px;
    display: flex;
    text-align:center;
    font-size: 18px;
    border-bottom: 1px solid #dddddd;
}
.show_left_uls li{
    width: 152px;
    height: 48px;
    line-height:48px;
}
.show_left_uls li a{
    color: #666666;
}
.show_left_uls li:nth-child(1){
    border-bottom: 2px solid #e93b78;
}

.show_img{
    width: 900px;
    margin:20px auto 0px;
    padding-bottom: 40px;
}
.show_right{
    width: 216px;
    height: 900px;
    float: right;
    color:#333333;
    font-size: 18px;
    background: #fff;
}
.show_right p{
    display: block;
    height: 48px;
    line-height: 48px;
    text-indent: 12px;
    border-bottom: 1px solid #dddddd;
}
.show_right img{
    max-width: 194px;
    max-height: 194px;
}
.show_boutique{
    width: 190px;
    height: 252px;
    padding: 12px;
    background: #fff;
    border-bottom: 1px dashed #e5e5e5;
}
.show_boutique a{
    display: block;
    color: #666666;
    font-size: 12px;
    height: 34px;
}
.show_boutique a:last-child{
    display: block;
    font-size: 14px;
    color: #e93b78;
}
.show_boutique:hover a{
    transition:all .2s;
    color: #e93b78;
}
.show_parameter{
    width: 930px;
    height: 300px;
    float: left;
    margin-left: 20px;
}
.show_parameter h7{
    color: #333333;
    font-size: 18px;
}
.show_table tr{
    height:34px;
}
.show_table{
    margin-top: 17px;
    border-right:1px solid #f2f2f2;
    border-bottom:1px solid #f2f2f2;
}
.show_table td{
    border-left:1px solid #f2f2f2;
    border-top:1px solid #f2f2f2;
}
.show_table tr td:nth-child(1){
    background: #fcfcfc;
    text-align:right;
    color: #8c8787;
}
.show_table tr td:nth-child(3){
    background: #fcfcfc;
    text-align:right;
    color: #8c8787;
}
.show_table tr td:nth-child(2){
    color: #adadad;
}
.show_table tr td:nth-child(4){
    color: #adadad;
}

.shopping_phone{
    height: 100px;
    padding-bottom: 12px;
}
.shopping_evaluate{
    width: 930px;
    height: 242px;
    float: left;
    margin-top:10px;
}
.shopping_uls_top{
    width: 928px;
    height: 105px;
    background: #ffffff;
    border: 1px solid #eeeeee;
    padding-top: 15px;
    margin-bottom: 10px;
}
.shopping_uls_top li{
    width:200px;
    height: 70px;
    text-align: center;
    float: left;
    padding-top: 10px;
}
.shopping_uls_top li:nth-child(1){
    padding-top: 0px;
}
.shopping_uls_top li:nth-child(1) span{
    color: #f40;
    font-size: 40px;
}
.shopping_uls_top li:nth-child(2){
    width: 253px;
    border-right: 1px solid #eee;
}
.shopping_uls_lis_two{
    height: 90px;
    color: #333333;
    font-size: 12px;
}
.shopping_uls_lis_two dl{
    padding-right: 10px;
}
.shopping_uls_lis_two dl dt{
    float: left;
    height: 10px;
    padding-bottom: 12px;
}
.shopping_uls_lis_two dl dd{
    float:right;
    width: 150px;
    height: 10px;
    background: #efefef;
    margin-top: 2px;
    margin-bottom: 12px;
    margin-right: 25px;
}
.shopping_uls_two{
    width: 928px;
    height: 37px;
    border:1px solid #eeeeee;
    margin-bottom: 10px;
}
.shopping_uls_two li{
    width:136px;
    height: 37px;
    float: left;
    border-right: 1px solid #eee;
    text-align: center;
    line-height: 35px;
    background: #fafafa;
}
.shopping_uls_two li:nth-child(1){
    width:163px;
    background: #888888;
}
.shopping_uls_two li:nth-child(4){
    width:163px;
}
.shopping_uls_two a{
    color: #333333;
    font-size: 12px;
}
.shopping_txt{
    width: 928px;
    height: 60px;
    color: #ff6600;
    line-height: 60px;
    text-align: center;
    border: 1px solid #dddddd;
}



















